@model List<September26.Dto.UserDto>

@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@foreach (var x in Model)
{
    <p>@x.FullName</p>
    <p>@x.Email</p>
}
@* @Html.EditorForModel() *@